# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
build/
*.min.css
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
Thumbs.db

# Node modules and lockfile
node_modules/
package-lock.json

# Personal Documentation 
personal-docs

# Tailwind CLI Output file (show publicly for now; remove comment later if wanting to hide)
# output.css
# ./css/output.css
